* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode",
		"Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

/* root is main outermost container */
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	border: 1px solid;
	text-align: center;
}
