:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color-scheme: light dark;

	/* 
	@color
		W-White
		BL-Black
	*/

	/* Backup Bg and font-color */
	--FONT-COLOR-W: rgba(245, 245, 245, 1);
	--BG-COLOR-BL: rgba(24, 24, 24, 1);

	/*
		@L - Light
		@M- Medium
		@D- Dark
	*/

	/* Background Colors */
	--BG-BLACK-L: rgba(35, 37, 44, 1);
	--BG-BLACK-M: rgba(26, 27, 33, 1);
	--BG-BLACK-D: rgba(22, 22, 25, 1);

	/* BUTTON  */
	--BG-BTN-W: rgba(255, 255, 255, 1);
	--BG-FONT-BL: rgba(37, 41, 51, 1);

	/* title-subtitle */
	--FONT-COLOR-YD: rgba(243, 191, 153, 1);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
}

/* Outer most container */
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 44px 0;
	text-align: center;
	height: 100vh;
}

.card--wrapper {
	width: 550px;
	margin: inherit;
	border-radius: 10px;
	padding: 44px 116px;
	background: var(--BG-BLACK-L);
}

.card {
	max-width: 316px;
}

.card__img {
	background: url("https://scontent.fbom3-2.fna.fbcdn.net/v/t39.30808-6/245390504_4495399000548371_7805609102154508664_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=JXD66n2SvesAX8ZP-8D&_nc_ht=scontent.fbom3-2.fna&oh=00_AfC_RU8k5JDepkcwtrHq-k1vLeajGUPz2FYL0lw4bHXlBA&oe=637B4277");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
	min-height: 317px;
	border-radius: 10px 10px 0 0;
}

.card__main {
	padding: 24px 35px;
	text-align: center;
	display: flex;
	flex-direction: column;
	background: var(--BG-BLACK-M);
}

.card__main--intro {
	padding: 8px;
}

.card__main--intro h2 {
	line-height: 30px;
}

.card__main--intro-portfolio a {
	color: var(--FONT-COLOR-W);
}

.card__main--intro-portfolio a:hover {
	color: var(--FONT-COLOR-YD);
}

.card__main--intro h3 {
	font-weight: 400;
	color: var(--FONT-COLOR-YD);
	margin-top: 6px;
}

.card__main--intro small {
	margin-top: 8px;
	display: block;
	font-size: 10px;
}

/* used simple className for btn */
.btn {
	max-width: 100%;
	background: var(--BG-BTN-W);
	margin-top: 16px;
	padding: 12px 96px;
	border-radius: 6px;
	cursor: pointer;
	color: var(--BG-FONT-BL);
	border: none;
	font-size: 14px;
	display: flex;
	justify-content: center;
	gap: 8px;
}

.card__main--info {
	margin-block-start: 32px;
	text-align: left;
	padding: 8px;
}

.card__main--info h2 {
	font-size: 16px;
	line-height: 24px;
}

.card__main--info p {
	margin-top: 5px;
	margin-bottom: 24px;
	font-size: 12px;
	text-align: justify;
	line-height: 16px;
}

/* footer */
.card__footer {
	background: var(--BG-BLACK-D);
	padding: 20px 48px;
	border-radius: 0 0 10px 10px;
}

/* list-wrapper */
.card__footer--icons {
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding-inline: 0;
	padding: 16px;
}

.icon a img:hover {
	background: var(--BG-BTN-W);
}

.icon a:focus img {
	background: rgba(41, 127, 229, 1);
}
