* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	/* background-color: #ffffff; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* container */
#root {
	max-width: 1280px;
	margin: 0 auto;
	height: 100vh;
	background: rgba(40, 45, 53, 1);
}

header {
	background: rgba(33, 34, 42, 1);
}

.nav {
	display: flex;
	align-items: center;
	padding: 30px 25px;
}

.nav--logo_img {
	margin-right: 8px;
}

.nav--logo_text {
	color: rgba(97, 218, 251, 1);
	font-weight: 700;
	font-size: 22px;
}

.nav--text {
	margin-left: auto;
	color: rgba(222, 235, 248, 1);
	font-weight: 600;
}

.main {
	background-color: rgba(40, 45, 53, 1);
	padding: 56px 28px;
	color: #fff;
	width: 100%;
	background-image: url("./assets/react-large-bg.png");
	background-repeat: no-repeat;
	background-position: right;
}

.main--title {
	margin: 0;
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -0.05em;
}

.main--facts {
	margin-top: 46px;
	max-width: 420px;
	font-size: 18px;
}

.main--facts > li {
	margin-block: 20px;
}

.main--facts > li::marker {
	color: rgba(97, 218, 251, 1);
	font-size: 1.4rem;
}
